body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

a {
    text-decoration: none;
}

.icon i {
    font-size: 24px;
}

.icon.fb i {
    color: #3b5998;
}

.icon.yt i {
    color: #ff0000;
}

.icon.ig i {
    background: linear-gradient(45deg, #fdc830, #f37335, #b31c78, #405de6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon.li i {
    color: #0077b5;
}

.icon.cart i {
    color: #333;
}

.icon:hover {
    transform: scale(0.9);
}

.icon.fb:hover {
    background-color: #3b5998;
}

.icon.fb:hover i {
    color: white;
}

.icon.yt:hover {
    background-color: #ff0000;
}

.icon.yt:hover i {
    color: white;
}

.icon.ig:hover {
    background: linear-gradient(45deg, #fdc830, #f37335, #b31c78, #405de6);
}

.icon.ig:hover i {
    -webkit-text-fill-color: white;
}

.icon.li:hover {
    background-color: #0077b5;
}

.icon.li:hover i {
    color: white;
}

.icon.cart:hover {
    background-color: #333;
}

.icon.cart:hover i {
    color: white;
}
